<%= form_for(@board) do |f| %>
  <% if @board.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@board.errors.count, "error") %> prohibited this match from being saved:</h2>

      <ul>
      <% @board.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>

    </div>
  <% end %>
    (*) <%= f.label :player_1 %> name:
    <%= f.text_field :player_1 %> (X)<br />
    (*) <%= f.label :player_2 %> name:
    <%= f.text_field :player_2 %> (O)  <br /><br />
  <div class="actions">
    <%= f.submit %>
  </div>   <br />
    (*) Mandatory fields
<% end %>
