<p id="notice"><%= notice %></p>

<h1>Listing All Matches</h1>

<table border="1">
  <tbody>
    <% @boards.each do |board| %>
      <tr>
        <td>Match #<%= board.id %>:</td>
        <td><%= link_to 'Show Match', board %></td>
        <td><%= link_to 'Change players name', edit_board_path(board) %></td>
        <td><%= link_to 'Delete match', board, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Match', new_board_path %>
