

<table border="1">
  <tr>
    <td style="width:150px">Player 1 (X): <%= @board.player_1 %></td>
    <td style="width:450px">
        STATUS: <span id="status"><%= status_message(@board) %></span>
    </td>
    <td style="width:150px">Player 2 (O): <%= @board.player_2 %></td>
  </tr>
  <tr>
    <td></td>
    <td>
      <table border="1">
        <% cells = @board.cells %>
      <% (1..3).each do |row| %>
            <tr>
            <% (1..3).each do |column| %>
              <% cell = cells.detect { |cell| cell.row == row && cell.column == column} %>
                  <td id="cell_<%= cell.id %>" class="cell_class" data-empty="<%= cell.value=="" ? "y" : "n" %>" data-url="<%= board_cell_path(@board, cell) %>"><%= cell.value %></td>
            <% end %>
            </tr>
      <% end %>

    </table>
    </td>
    <td></td>
  </tr>
</table>
<br />
<%= link_to 'Change players name', edit_board_path(@board) %>   |
<%= link_to 'Show List of matches', boards_path %>   |
<%= link_to 'New match', new_board_path %>
