<% status_message =  status_message(@board) %>

$('#status').text('<%= status_message %>');

<% if status_message.downcase.include? "winner" %>
    $('.cell_class').data('empty', 'n');
<% end %>

<% cell_id = "cell_#{@cell.id}" %>
$('#<%= cell_id %>').html('<%= @cell.value %>');
<% if @cell.value != "" %>
    $('#<%= cell_id %>').data('empty', 'n');
    $('#<%= cell_id %>').css('background-color', 'white');
    $('#<%= cell_id %>').css('cursor','auto');
<% end %>